* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-container {
  height: 100vh;
  /* margin: 20px; */
  border: 2px dashed black;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}
.card {
  height: 300px;
  width: 300px;
  background: gray;
}

.grid-container {
  height: 100vh;
  border: 2px dashed black;
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 30px;
}

@media screen and (min-width: 0px) and (max-width: 500px){
  body {
    /* background-color: red; */
    border: 10px solid deepskyblue;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}